.grilla__padre{
	width: 100%;
	height: 1400px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	/*flex-flow: nowrap;*/
	justify-content: space-evenly center;

	/*align-items: center;*/


}

.grilla__hijo1, .grilla__hijo2, .grilla__hijo3, .grilla__hijo4{
	flex-shrink: 20%;
	flex-grow: 1;
	/*width: 25%;
	height: 25%;*/
}


#grilla{
	display: grid;
	grid-template-areas: 
		"carrusel carrusel carrusel carrusel"
		"desc desc desc desc"
		"imgP imgP imgP asideD"
		"imgP imgP imgP ubiCa"
		"imgA imgB imgC imgD"
		"imgE imgF imgG imgH"
		"footer footer footer footer";

	grid-template-rows: 250px 75px 250px 250px 150px 150px 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	grid-row-gap: 15px;
	grid-column-gap: 10px;
	height: 100vh;
	margin: 0;
}

.border{
	border: 1px solid black;
}


section#descripcion{
	grid-area: desc;
	background-color: darkgrey;
	opacity: 1;
}

section#imgP{
	grid-area: imgP;
	background-color: yellow;
	
}

section#ubiCa{
	grid-area: ubiCa;
	background-color: green;
	justify-content: center;
}

section#imgA{
	grid-area: imgA;
	background-color: white;
	opacity: 0.8;
}

section#imgB{
	grid-area: imgB;
	background-color: white;
	opacity: 0.8;
}

section#imgC{
	grid-area: imgC;
	background-color: white;
	opacity: 0.8;
}

section#imgD{
	grid-area: imgD;
	background-color: white;
	opacity: 0.8;
}

section#imgE{
	grid-area: imgE;
	background-color: white;
	opacity: 0.8;
}

section#imgF{
	grid-area: imgF;
	background-color: white;
	opacity: 0.8;
}

section#imgG{
	grid-area: imgG;
	background-color: white;
	opacity: 0.8;
}

section#imgH{
	grid-area: imgH;
	background-color: white;
	opacity: 0.8;
}

aside{
	grid-area: asideD;
	background-color: darkgrey;
}

footer{
	grid-area: footer;
}

img{
	height: 200px;
	width: 100%;
	
}

.gris img {
	filter: grayscale(100%);
}
	
.gris img:hover {filter: grayscale(0%);}
}

.gris {
	filter: grayscale(100%); }

.gris:hover {
	filter: grayscale(0%);}
}

// La idea es poner un hover y que la imagen vuelva al color cuando nos paramos sobre ella

#imgA img, #imgB img, #imgC img, #imgD img, #imgE img, #imgF img, #imgG img, #imgH img
{height: 150px; width: 100%; filter: grayscale(100%);}

#imgP img{height: 515px; width: 100%;}

.img-circle{
	height: 75px;
	width: 75px;
}
