main{
	width: 100%;
	height: 100%;
	border: solid 1px black;
	overflow: hidden;
}

.contenedor{
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 200px;
	grid-template-columns: 100% 100% 100%;

	animation-play-state: slider 5s infinite;
	position: relative;
	overflow: hidden;
}

.contenedor:hover{
	animation-play-state: paused;
}

/*img{width: 100%;
	height: 200px;}*/

textarea{
	color: black;
	background-color: white;
}

@keyframes slider{
	from{
		right: 0%;
	}
	50%{
		right: 100%;
	}
	to{
		right: 200%;
	}
}
